.Home-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.head-line {
    font-size: 55px;
    font-weight: bold;
    color: rgb(189, 79, 232);
    line-height: 0%;

}

.btn-home {
    border: 2px solid rgb(189, 79, 232);
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(189, 79, 232);
    font-weight: bold;
    font-size: 15px;
}

.btn-home:hover {
    background-color: rgb(246, 206, 234);
    border: 2px solid rgb(246, 206, 234);
}

.customer-heading {
    text-align: center;
    color: rgb(160, 41, 207);
    font-weight: bold;
    font-size: 45px;

}

.btn-home-bottom {
    border: 2px solid rgb(189, 79, 232);
    border-radius: 10px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgb(189, 79, 232);
    font-weight: bold;
    font-size: 15px;
    margin-left: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-home-bottom:hover {
    background-color: rgb(246, 206, 234);
    border: 2px solid rgb(246, 206, 234);
}

.Home-container img {
    margin-top: 80px;
    height: 600px;
    width: 500px;
}