.navbar-style {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 17px;
    font-weight: bold;
    background-color: rgb(246, 206, 234);
    padding: 20px;
    box-shadow: 10px 10px 10px 10px rgb(235, 233, 233);
    padding-left: 300px;
    padding-right: 300px;
}