.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.dashboard-heading {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: rgb(181, 118, 240);
    padding-top: 40px;
    padding-bottom: 20px;
}

.monthe-sell {
    text-align: center;
}